div.col-md-12 {
	background: azure;
	margin-bottom: 120px;
}

div.about-left {
	float: left;
	width: 50%;
	padding: 20px 5px;
	display: inline-block;
	word-wrap: word-break;
	font-size: 1.5em;
	text-align: center;
}

div.about-left p {
	font-family: initial;

}

div.about-right {
	float: right;
	width: 50%;	
}